#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
max-width: 850px;
margin: 0 auto;
}

.site-wrapper {
min-height: 100vh;
display: flex;
flex-direction: column;
background-color: #cfe3bf;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #cfe3bf;
}

/* Navbar */

.navbar {
  padding: 2em 3em;
  display: flex;
  justify-content: space-between;
  background: #536C45;
}

.navbar--logo {
  font-family: "Inter", sans-serif;
  font-size: 1.271875em;
  font-weight: 900;
  color: #fff;
  text-decoration: none;

}

.navbar--logo:focus,
.navbar--logo:active,
.navbar--links:focus,
.navbar--links:active,
header a {
  text-decoration: none;
  outline: none;
}

.navbar--links {
  display: flex;
  gap: 1.5em;

}

header a{
  font-weight: 600;
  line-height: 22.92px;
  color: #EFE6DB
}

.current-link {
font-weight: bold;
text-decoration: underline;
color: #000000
}

.navbar--logo:hover, .navbar--links > a:hover {
text-decoration: underline;
font-weight: bold;
}

/* Footer */

.footer {
  background-color: #536C45;
  color: #fff;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

/*** HOME PAGE ***/

.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
      url("../public/assets/medecinealternative.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  color: white;
  padding: 45px 23px;
}

.home-container h1 {
  margin-top: 4em;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
  text-shadow: 1px 1px 2px #536C45;
}

.home-container p {
  line-height: 24px;
  text-shadow: 1px 1px 2px #536C45;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #cfe3bf;
  border: none;
  width: 85%;
  margin-top: 27px;
  padding-block: 0.75rem;
  color: #172B24;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/* About */

.about--image {
  background-image: url(../public/assets/aboutalternmed.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
}

.about--content {
  display: flex;
  flex-direction: column;
  padding: 1em 4em;
  color: #161616;
  text-align: left;
  margin-top: 2em;
}

.about--content > h1 {
  font-size: 1.8rem;
  line-height: 38px;
  margin-bottom: .5em;
}

.about--content_paragraph {
  margin-bottom: 2.5em;
}

.about--content_paragraph > p {
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}

p.margin-btm {
  margin-bottom: 1.5em;
}

/* Not Found 404 */

.not-found-container {
  padding-inline: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}

.not-found-container > h1 {
  color: #172B24;
  margin-top: 2em;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #172B24;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1em;
}
